[include mainsail.cfg]

[virtual_sdcard]
on_error_gcode: CANCEL_PRINT
path: ~/printer_data/gcodes

[display_status]

[pause_resume]

#####################################################################
#   X/Y Stepper Settings
#####################################################################

[stepper_x]
step_pin: PA14
dir_pin: PA10
enable_pin: !PA13
rotation_distance: 40.115
microsteps: 16
full_steps_per_rotation: 200
endstop_pin: ^PC4
position_min: 0
position_endstop: 0
position_max: 235
homing_speed: 100
homing_retract_dist: 5

[tmc2209 stepper_x]
uart_pin: PB8
interpolate: True
run_current: 0.800
hold_current: 0.500
stealthchop_threshold: 250

[stepper_y]
step_pin: PC8
dir_pin: !PA15
enable_pin: !PC14
microsteps: 16
rotation_distance: 40.115
endstop_pin: ^PB0
position_min: 0
position_endstop: 0
position_max: 235
homing_speed: 100
homing_retract_dist: 5

[tmc2209 stepper_y]
uart_pin: PC9
#diag_pin: PB0
interpolate: True
run_current: 0.800
hold_current: 0.500
stealthchop_threshold: 250

#####################################################################
#   Z Stepper Settings
#####################################################################

[stepper_z]
step_pin: PD2
dir_pin: !PD4
enable_pin: !PD3
microsteps: 16
rotation_distance: 8.1
full_steps_per_rotation: 200
endstop_pin: probe:z_virtual_endstop
position_max: 250
position_min: -8
homing_speed: 25
homing_retract_dist: 5.0
homing_retract_speed: 10
second_homing_speed: 5

[tmc2209 stepper_z]
uart_pin: PD0
#diag_pin: PC6
interpolate: true
run_current: 0.650
hold_current: 0.450
stealthchop_threshold: 30

[stepper_z1]
step_pin: PB7
dir_pin: PB6
enable_pin: !PB4
microsteps: 16
rotation_distance: 8.1
full_steps_per_rotation: 200
endstop_pin: probe:z_virtual_endstop

[tmc2209 stepper_z1]
uart_pin: PB5
interpolate: true
run_current: 0.650
hold_current: 0.450
stealthchop_threshold: 30

#####################################################################
#   Bondtech LGX Extruder
#####################################################################

[extruder]
step_pin: PD5
dir_pin: PD6
enable_pin: !PB3
microsteps: 16
rotation_distance: 7.840
full_steps_per_rotation: 200
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: PB11 #HE0
sensor_type: Generic 3950
sensor_pin: PA4 #TH0
#control: pid
#pid_Kp: 20.871
#pid_Ki: 1.104
#pid_Kd: 98.617
min_temp: 0
min_extrude_temp: 170
max_temp: 350
#pressure_advance: 0.0635 #ABS
#pressure_advance: 0 #TPU

[tmc2209 extruder]
uart_pin: PD1
interpolate: true
run_current: 0.65
hold_current: 0.45
stealthchop_threshold: 5

[thermistor Generic 3950]
## values calibrated against a PT100 reference
temperature1: 25.0
resistance1: 103180.0
temperature2: 150.0
resistance2: 1366.2
temperature3: 250.0
resistance3: 168.6

#####################################################################
#   Bed Heater
#####################################################################

[heater_bed]
heater_pin: PB2 #HB
sensor_type: EPCOS 100K B57560G104F #Generic 3950
sensor_pin: PA3 #TB
#control: pid
#pid_Kp: 73.939
#pid_Ki: 1.621
#pid_Kd: 842.975
min_temp: 0
max_temp: 130

#####################################################################
#   Bed-Levelling
#####################################################################

[bltouch]
#CR-Touch
sensor_pin: PA6
control_pin: PA7
x_offset: -47
y_offset: -4
#z_offset: 0
pin_move_time: 1
speed: 5.0
samples: 3
samples_result: median
sample_retract_dist: 3.0
samples_tolerance: 0.006
samples_tolerance_retries: 3
stow_on_each_sample: False #DREMC
probe_with_touch_mode: True #DREMC

[bed_mesh]
speed: 120
horizontal_move_z: 5
mesh_min: 12, 13
mesh_max: 188, 226
fade_start: 1
fade_end: 10
fade_target: 0
mesh_pps: 2,3
probe_count: 5,3
algorithm: bicubic
bicubic_tension: 0.2

[safe_z_home]
home_xy_position: 150.5, 130.5
speed: 80.0
z_hop: 10.0
z_hop_speed: 10.0

#####################################################################
#   Fan Control
#####################################################################

[heater_fan hotend_fan]
pin: PB15
heater: extruder
heater_temp: 50.0
fan_speed: 1.0

[fan]
pin: PA8

[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32g0b1xx_4D00320012504B4B38383620-if00

[printer]
kinematics: cartesian
max_velocity: 300
max_accel: 3000
max_accel_to_decel: 7000
square_corner_velocity: 5.0
max_z_velocity: 5
max_z_accel: 100

[board_pins]
aliases:
    # EXP1 header
    EXP1_1=PC1, EXP1_3=PC3, EXP1_5=PC0, EXP1_7=PA2, EXP1_9=<GND>,
    EXP1_2=PC2,  EXP1_4=<RST>, EXP1_6=PA0, EXP1_8=PA1, EXP1_10=<5V>

# See the sample-lcd.cfg file for definitions of common LCD displays.

########################################
# Optional LCD configuration
########################################

# Ender 3 stock display plugs in to the EXP1 port
[display]
lcd_type: st7920
cs_pin: EXP1_7
sclk_pin: EXP1_6
sid_pin: EXP1_8
encoder_pins: ^EXP1_5, ^EXP1_3
click_pin: ^!EXP1_2

[output_pin beeper]
pin: EXP1_1

# This adds a screw tilt adjust command that probes certain points on the bed and recommends new bed screw positions (turn clockwise this much etc)
[screws_tilt_adjust]
screw1: 65,47
screw1_name: front left screw
screw2: 235,47
screw2_name: front right screw
screw3: 235,217
screw3_name: rear right screw
screw4: 65,217
screw4_name: rear left screw
horizontal_move_z: 10
speed: 50
screw_thread: CW-M4

#####################################################################
#   Optional
#####################################################################

[filament_switch_sensor creality_sensor]
pause_on_runout: True
runout_gcode:
    PARK_MACRO
    M117 Out of Filament
insert_gcode:
    M117 Resuming
    RESUME_MACRO
event_delay: 3.0
pause_delay: 0.5
switch_pin: PC5

#[filament_switch_sensor material_1]
#switch_pin: PB1

[input_shaper]
shaper_freq_x: 45.5
shaper_freq_y: 46.8
shaper_type: ei

[mcu rpi]
serial: /tmp/klipper_host_mcu

[adxl345]
cs_pin: PC15
spi_software_miso_pin: PC11
spi_software_mosi_pin: PC12
spi_software_sclk_pin: PC10

[resonance_tester]
accel_chip: adxl345
probe_points:
    124.5,115,20 # an example

[z_tilt]
z_positions:
    0,117.5
    235,117.5
points:
    70, 130.5
    235, 130.5
speed: 120
horizontal_move_z: 15
retries: 10
retry_tolerance: 0.01

#####################################################################
#   Macros
#####################################################################

[gcode_macro PAUSE]
description: Pause the actual running print
rename_existing: PAUSE_BASE
gcode:
  PAUSE_BASE
  _TOOLHEAD_PARK_PAUSE_CANCEL

[gcode_macro RESUME]
description: Resume the actual running print
rename_existing: RESUME_BASE
gcode:
  ##### read extrude from  _TOOLHEAD_PARK_PAUSE_CANCEL  macro #####
  {% set extrude = printer['gcode_macro _TOOLHEAD_PARK_PAUSE_CANCEL'].extrude %}
  #### get VELOCITY parameter if specified ####
  {% if 'VELOCITY' in params|upper %}
    {% set get_params = ('VELOCITY=' + params.VELOCITY)  %}
  {%else %}
    {% set get_params = "" %}
  {% endif %}
  ##### end of definitions #####
  {% if printer.extruder.can_extrude|lower == 'true' %}
    M83
    G1 E{extrude} F2100
    {% if printer.gcode_move.absolute_extrude |lower == 'true' %} M82 {% endif %}
  {% else %}
    {action_respond_info("Extruder not hot enough")}
  {% endif %}  
  RESUME_BASE {get_params}

[gcode_macro CANCEL_PRINT]
description: Cancel the actual running print
rename_existing: CANCEL_PRINT_BASE
variable_park: True
gcode:
  ## Move head and retract only if not already in the pause state and park set to true
  {% if printer.pause_resume.is_paused|lower == 'false' and park|lower == 'true'%}
    _TOOLHEAD_PARK_PAUSE_CANCEL
  {% endif %}
  TURN_OFF_HEATERS
  CANCEL_PRINT_BASE

[gcode_macro _TOOLHEAD_PARK_PAUSE_CANCEL]
description: Helper: park toolhead used in PAUSE and CANCEL_PRINT
variable_extrude: 1.0
gcode:
  ##### set park positon for x and y #####
  # default is your max posion from your printer.cfg
  {% set x_park = printer.toolhead.axis_maximum.x|float - 5.0 %}
  {% set y_park = printer.toolhead.axis_maximum.y|float - 5.0 %}
  {% set z_park_delta = 2.0 %}
  ##### calculate save lift position #####
  {% set max_z = printer.toolhead.axis_maximum.z|float %}
  {% set act_z = printer.toolhead.position.z|float %}
  {% if act_z < (max_z - z_park_delta) %}
    {% set z_safe = z_park_delta %}
  {% else %}
    {% set z_safe = max_z - act_z %}
  {% endif %}
  ##### end of definitions #####
  {% if printer.extruder.can_extrude|lower == 'true' %}
    M83
    G1 E-{extrude} F2100
    {% if printer.gcode_move.absolute_extrude |lower == 'true' %} M82 {% endif %}
  {% else %}
    {action_respond_info("Extruder not hot enough")}
  {% endif %}
  {% if "xyz" in printer.toolhead.homed_axes %}
    G91
    G1 Z{z_safe} F900
    G90
    G1 X{x_park} Y{y_park} F6000
    {% if printer.gcode_move.absolute_coordinates|lower == 'false' %} G91 {% endif %}
  {% else %}
    {action_respond_info("Printer not homed")}
  {% endif %}

[gcode_macro G29]
gcode:
  BED_MESH_CALIBRATE

[gcode_macro BED_TRAM]
gcode:
  SCREWS_TILT_CALCULATE

[gcode_macro Z_OFFSET]
gcode:
  PROBE_CALIBRATE

[gcode_macro M600]
gcode:
  PAUSE
  CHANGE_FILAMENT

[gcode_macro CHANGE_FILAMENT]
gcode:
  SAVE_GCODE_STATE NAME=M600_state
  G91
  G1 E-.8 F2700
  G1 Z10
  G90
  G1 X50 Y0 F3000
  G91
  G1 E-5 F300

[gcode_macro CHANGE_FILAMENT_RESUME]
gcode:
  G91
  RESTORE_GCODE_STATE NAME=M600_state
  RESUME

[gcode_macro G34]
gcode:
  G28
  Z_TILT_ADJUST
  BED_MESH_CALIBRATE

[gcode_macro START_PRINT]
gcode:
  M117 Heating the Nozzle and setting the bed temp
  M104 S150
  M190 S{params.BED}
  M190 S{params.BED}

  M117 Home, align and load mesh
  G34

  G92 E0

  M109 S{ params.HOTEND }

  G1 Z2.0 F3000
  M300 S1000 P500

[gcode_macro PURGE_LINE]
gcode:
  M117 Purging
  G1 Z5
  G1 X20 Y20 Z0.2 F3000
  G1 X120 E9.0  F1000.0
  G1 X100.0 E12.5  F1000.0

  G92 E0

  G1 Z2.0 F3000

[gcode_macro END_PRINT]
variable_machine_depth: 220
gcode:
  M117 Finished
  TURN_OFF_HEATERS
  G91
  G1 E-2 F2700
  G1 E-2 Z0.2 F2400
  G1 X5 Y5 F3000
  G1 Z10
  G28 X Y
  G1 X0 Y{machine_depth}

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 19.461
#*# pid_ki = 0.954
#*# pid_kd = 99.253
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 71.001
#*# pid_ki = 1.259
#*# pid_kd = 1001.110
#*#
#*# [bltouch]
#*# z_offset = 1.777
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	-0.071629, -0.107067, -0.150098, -0.134910, -0.119723
#*# 	0.011902, -0.023535, -0.046317, -0.046317, -0.036192
#*# 	0.206808, 0.125808, 0.032152, -0.046317, -0.099473
#*# x_count = 5
#*# y_count = 3
#*# mesh_x_pps = 2
#*# mesh_y_pps = 3
#*# algo = bicubic
#*# tension = 0.2
#*# min_x = 12.0
#*# max_x = 188.0
#*# min_y = 13.0
#*# max_y = 226.0
